<!DOCTYPE html>

<html lang="en">

    <head>
      <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

      <link href="../static/styles.css" rel="stylesheet"/>

      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="../scripts/quote.js"></script>

      <title>Finance: History</title>
    </head>

    <body>
      <div class="container">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Finance</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="quote.html">Quote</a></li>
                <li><a href="buy.html">Buy</a></li>
                <li><a href="sell.html">Sell</a></li>
                <li><a href="history.html">History</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
              </ul>
            </div>
          </nav>

          <fieldset>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Symbol</th>
                  <th>Price</th>
                  <th>Quality</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody id="result">
              </tbody>
            </table>
          </fieldset>

      </div>
    </body>
</html>
